#layers {
    width: 768px;
    height: 440px;
    position: relative;
    margin: 0 auto;
}

#layers canvas {
    left: 50%;
    margin-left: -384px;
    position: absolute;
}

#guide {
    opacity: .7;
}

#guide .fadeout {
    opacity: 0;
    transition: opacity .5s linear;
}

#ui {
    transition: opacity .3s linear;
}

#ui .dim {
    opacity: .3;
}


